# Dependency directories
node_modules/

# Production build directory
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editors
.idea/
.vscode/
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/
.vitepress/dist

# Temporary files
*.tmp
*.temp

# Storybook
.storybook-out/

# Coverage directory used by tools like Istanbul
coverage/

# Build output directory
build/

# Debug log from npm
npm-debug.log*

# Yarn 2
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*
